$TypeWriterAnimation: typing 3.5s steps(40, end) forwards,
  blink-caret 0.75s step-end infinite backwards;

.base {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  p {
    width: fit-content;
    margin: 0;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
  }
}

.greetings {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 83px;

  p:first-child {
    color: var(--content-secondary, rgba(255, 255, 255, 0.5));

    font-size: 96px;
    font-style: normal;
    line-height: normal;
    font-variation-settings: "wght" 500;
    opacity: 0;
    animation-delay: 0;
    animation: $TypeWriterAnimation;
  }
}

.name {
  color: var(--content-primary, #fff);

  font-size: 96px;
  font-style: normal;
  line-height: normal;
  font-variation-settings: "wght" 700;
  opacity: 0;
  animation: $TypeWriterAnimation;
  animation-delay: 1.5s;
}

.expertice {
  color: var(--content-secondary, rgba(255, 255, 255, 0.5));
  text-align: center;

  font-size: 60px;
  font-style: normal;
  line-height: normal;
  font-variation-settings: "wght" 500;
  opacity: 0;
  animation: $TypeWriterAnimation;
  animation-delay: 4s;
}

.experienceContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}
.experience {
  opacity: 0;
  color: var(--content-secondary, rgba(255, 255, 255, 0.5));

  font-size: 52px;
  font-style: normal;
  line-height: normal;
  font-variation-settings: "wght" 500;
  animation: $TypeWriterAnimation;
  animation-delay: 6s;
}

.frameworksContainer {
  background: var(--background-subtle, rgba(255, 255, 255, 0.1));
  color: var(--content-secondary, rgba(255, 255, 255, 0.5));
  font-size: 32px;
  font-style: normal;
  font-variation-settings: "wght" 500;
  line-height: normal;
  border-radius: 4px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
}

.frameworks {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 380px;
  animation: typingFrameworks 3s steps(10, end) infinite,
    blink-caret 0.75s step-end infinite backwards;

  p {
    color: var(--content-primary, #fff);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-size: 52px;
    font-style: normal;
    font-variation-settings: "wght" 500;
    line-height: normal;
  }
}

@keyframes typing {
  from {
    max-width: 0;
    opacity: 1;
  }
  to {
    max-width: 100%;
    opacity: 1;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--content-primary, #fff);
  }
}

@keyframes typingFrameworks {
  0% {
    max-width: 0;
  }
  20% {
    max-width: 100%;
  }
  50% {
    max-width: 100%;
  }
  70% {
    max-width: 0%;
  }
  100% {
    max-width: 0%;
  }
}
