@layer base {
  :root {
    --color-neutral-100: rgb(231, 231, 231);
    --color-neutral-200: rgb(209, 209, 209);
    --color-neutral-300: rgb(176, 176, 176);
    --color-neutral-400: rgb(136, 136, 136);
    --color-neutral-50: rgb(246, 246, 246);
    --color-neutral-500: rgb(109, 109, 109);
    --color-neutral-600: rgb(93, 93, 93);
    --color-neutral-700: rgb(79, 79, 79);
    --color-neutral-800: rgb(69, 69, 69);
    --color-neutral-900: rgb(61, 61, 61);
    --color-neutral-950: rgb(23, 23, 23);
    --color-neutral-alpha-100: rgba(23, 23, 23, 0.102);
    --color-neutral-alpha-200: rgba(23, 23, 23, 0.2);
    --color-neutral-alpha-300: rgba(23, 23, 23, 0.302);
    --color-neutral-alpha-400: rgba(23, 23, 23, 0.4);
    --color-neutral-alpha-50: rgba(23, 23, 23, 0.051);
    --color-neutral-alpha-500: rgba(23, 23, 23, 0.502);
    --color-neutral-alpha-600: rgba(23, 23, 23, 0.6);
    --color-neutral-alpha-700: rgba(23, 23, 23, 0.698);
    --color-neutral-alpha-800: rgba(23, 23, 23, 0.8);
    --color-neutral-alpha-900: rgba(23, 23, 23, 0.898);
    --color-neutral-alpha-950: rgb(23, 23, 23);
    --color-white-alpha-100: rgba(255, 255, 255, 0.102);
    --color-white-alpha-200: rgba(255, 255, 255, 0.2);
    --color-white-alpha-300: rgba(255, 255, 255, 0.302);
    --color-white-alpha-400: rgba(255, 255, 255, 0.4);
    --color-white-alpha-50: rgba(255, 255, 255, 0.051);
    --color-white-alpha-500: rgba(255, 255, 255, 0.502);
    --color-white-alpha-600: rgba(255, 255, 255, 0.6);
    --color-white-alpha-700: rgba(255, 255, 255, 0.698);
    --color-white-alpha-800: rgba(255, 255, 255, 0.8);
    --color-white-alpha-900: rgba(255, 255, 255, 0.898);
    --color-white-alpha-950: rgb(255, 255, 255);
  }

  :root[class~="dark"] {
    --background-card: var(--color-white-alpha-50);
    --background-input: var(--color-neutral-900);
    --background-menu: var(--color-white-alpha-50);
    --background-subtle: var(--color-white-alpha-100);
    --background-frameWork: #333333;
    --border-button: var(--color-white-alpha-700);
    --border-menu: var(--color-white-alpha-100);
    --content-primary: var(--color-white-alpha-950);
    --content-secondary: var(--color-white-alpha-500);
    --surface-main: var(--color-neutral-950);
    --portfolio-gradient: linear-gradient(
      270deg,
      #585858 0%,
      rgba(88, 88, 88, 0) 80%
    );
    --line-gradient: linear-gradient(
      rgba(255, 255, 255, 0) -0.76%,
      rgba(255, 255, 255, 0.4) 47.35%,
      rgba(255, 255, 255, 0) 100%
    );
    --line-drop: rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%;
  }
  :root[class~="light"] {
    --background-card: var(--color-neutral-alpha-50);
    --background-input: var(--color-neutral-100);
    --background-menu: var(--color-neutral-alpha-50);
    --background-subtle: var(--color-neutral-alpha-100);
    --background-frameWork: #dadada;
    --border-button: var(--color-neutral-alpha-700);
    --border-menu: var(--color-neutral-alpha-100);
    --content-primary: var(--color-neutral-alpha-950);
    --content-secondary: var(--color-neutral-alpha-500);
    --surface-main: var(--color-neutral-50);
    --portfolio-gradient: linear-gradient(
      270deg,
      #585858 -53.18%,
      rgba(88, 88, 88, 0.36) 23.41%,
      rgba(88, 88, 88, 0) 100%
    );
    --line-gradient: linear-gradient(
      rgba(23, 23, 23, 0) -0.76%,
      rgba(23, 23, 23, 0.4) 47.35%,
      rgba(23, 23, 23, 0) 100%
    );
    --line-drop: rgba(0, 0, 0, 0) 0%, #000 75%, #000 100%;
  }

  @media (max-width: 960px) {
    :root[class~="dark"] {
      --line-gradient: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) -0.76%,
        rgba(255, 255, 255, 0.4) 47.35%,
        rgba(255, 255, 255, 0) 100%
      );
    }
    :root[class~="light"] {
      --line-gradient: linear-gradient(
        90deg,
        rgba(23, 23, 23, 0) -0.76%,
        rgba(23, 23, 23, 0.4) 47.35%,
        rgba(23, 23, 23, 0) 100%
      );
    }
  }
}
