@use 'sass:meta';
@use 'tailwindcss';

html {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  background: var(
    --surface-main,
    #171717
  ); /* Background color for the entire page */
  position: relative;
}

canvas {
  display: block;
  background-color: transparent; /* Make the canvas background transparent */
  position: absolute;
  max-height: 100vh;
  z-index: -1;
}

a {
  text-decoration: inherit;
}

/* IMPORTS COLORS + FONTS */
@include meta.load-css('colors');
@include meta.load-css('fonts');

.animation-delay-2 {
  animation-delay: 2s;
}
.animation-delay-3_5 {
  animation-delay: 3.5s;
}
.animation-delay-5_5 {
  animation-delay: 5.5s;
}
.animation-duration-1_5 {
  animation-duration: 1.5s;
}
