html {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  background: var(
    --surface-main,
    #171717
  ); /* Background color for the entire page */
  position: relative;
}

canvas {
  display: block;
  background-color: transparent; /* Make the canvas background transparent */
  position: absolute;
  max-height: 100vh;
  z-index: -1;
}

a {
  text-decoration: inherit;
}

p {
  color: var(--content-primary, #fff);
  /* lable/16 Med */
  font-family: "Satoshi Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

input:required {
  &::placeholder::after {
    content: "*";
  }
}

button {
  color: var(--content-primary);
  transition: 0.25s;

  &:hover,
  &:focus {
    color: var(--surface-main);
    box-shadow: inset 0 0 0 2em var(--content-primary);
  }
}

@import "./colors";
@import "./fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-delay-2 {
  animation-delay: 2s;
}
.animation-delay-3_5 {
  animation-delay: 3.5s;
}
.animation-delay-5_5 {
  animation-delay: 5.5s;
}
.animation-duration-1_5 {
  animation-duration: 1.5s;
}

.portfolio-text {
  font-size: 152px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-orientation: sideways;
  display: inline-block;
  color: #fff; /* fallback */
  background: var(--portfolio-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;

  @media (max-width: 960px) {
    font-size: 60px;
  }
}

.frameworkText {
  position: relative;
  border-right: 2px solid;
  animation: blinkCaret 0.75s infinite;
}

@keyframes blinkCaret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--content-primary, #fff);
  }
}

.line {
  background: var(--line-gradient);
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, var(--line-drop));
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);

    @media (max-width: 960px) {
      width: 15vw;
      height: 100%;
      left: 80%;
      top: 0;
      animation: dropLeft 5s 0s infinite;
      background: linear-gradient(to left, var(--line-drop));
    }
  }
}
@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes dropLeft {
  0% {
    left: 110%;
  }
  100% {
    left: -50%;
  }
}
